.navbar-inverse{
	background-color: #3f51b5;
	border-radius : 0px;

}
.navbar-inverse .navbar-nav>li>a , .navbar-brand{
	color: white;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
	border-color: white;
}