<!-- Navbar-->
<header class="header">
  <nav class="navbar navbar-expand-lg navbar-light py-3">
  <div class="container"> 
  <a href="#" class="navbar-brand">
  <b>[ R M S ] </b>
  </a>
  </div>
  </nav>
</header>

<div class="container">
<div class="row  "> 
  <div class="col-sm-5 col-lg-5">
  <img src="https://res.cloudinary.com/mhmd/image/upload/v1569543678/form_d9sh6m.svg" alt="" class="img">
  <h1>Create an Account</h1>
  <p class="font-italic text-muted mb-0"> 
  Create an account to get started with our Repair management system. 
  <a href="#">Click to read our Privacy policy and rules.</a>
  </p> 
  
<div class="row">
  <div class="col-lg-4 col-xs-12">
 <button type="button" class="marger widther" mat-raised-button color="primary" [routerLink]="['/']">  
   <span class="font-weight-bold">Login</span>
</button>

</div>
  <div class="col-lg-4 col-xs-6">
  <button mat-raised-button color="primary" class="marger widther">  Facebook Login<span class="font-weight-bold "></span>
</button> 

</div>
<div class="col-lg-4 col-xs-6 ">
  <button mat-raised-button color="warn" class="marger widther" (click)="signInWithGoogle()">
      Google Login<span class="font-weight-bold "></span>
</button> 

</div>  
</div> 
  </div>

<div class="col-sm-7  col-lg-7"> 
<div class="  padder">
 
 <br>

  <form class="example-form overfl" [formGroup]="form" (ngSubmit)="submitForm()">
    <div class="row">
    <div class="col-sm-6"> 
    <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>First name</mat-label>
    <input type="text" matInput placeholder="First Name"  [formControlName]="'FirstName'"  [ngClass]="{ 'is-invalid': submitted && formvalidation.FirstName.errors }" />
    <div *ngIf="submitted && formvalidation.FirstName.errors" class="invalid-feedback">
    <div class='redfont' *ngIf="formvalidation.FirstName.errors.required">First Name is required</div>
    </div>
    </mat-form-field>
    </div>
    <div class="col-sm-6"> 
    <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Middle name</mat-label>
    <input type="text" matInput placeholder="Ex. Dev"  [formControlName]="'MiddleName'"  />
    </mat-form-field>
    </div>
   
  </div>
  <div class="row">
    <div class="col-sm-6"> 
    <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Last name</mat-label>
    <input type="text" matInput placeholder="Ex. Dev"  [formControlName]="'LastName'"  [ngClass]="{ 'is-invalid': submitted && formvalidation.LastName.errors }" />
    <div *ngIf="submitted && formvalidation.LastName.errors" class="invalid-feedback">
    <div class='redfont' *ngIf="formvalidation.LastName.errors.required">Last Name is required</div>
    </div>
    </mat-form-field>
    </div>
    <div class="col-sm-6"> 
    <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Email ID / Phone number</mat-label>
    <input type="email" matInput placeholder="Ex. john@gmail.com" [formControlName]="'EmailAddress'"  [ngClass]="{ 'is-invalid': submitted && formvalidation.EmailAddress.errors }" />
    <div *ngIf="submitted && formvalidation.EmailAddress.errors" class="invalid-feedback">
    <div class='redfont'  *ngIf="formvalidation.EmailAddress.errors.required">Email is required</div>
    <div class='redfont'  *ngIf="formvalidation.EmailAddress.errors.email">Email must be a valid email address</div>
    </div>
    </mat-form-field>
    </div>
 
</div>
<div class="row">
    <div class="col-sm-6"> 
    <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Password</mat-label>
    <input type="password" matInput placeholder="Enter a strong password" [formControlName]="'LoginPassword'" [ngClass]="{ 'is-invalid': submitted && formvalidation.LoginPassword.errors }" />
    <div *ngIf="submitted && formvalidation.LoginPassword.errors" class="invalid-feedback">
    <div class='redfont'  *ngIf="formvalidation.LoginPassword.errors.required">Password is required</div>
    <div class='redfont'  *ngIf="formvalidation.LoginPassword.errors.minlength">Password must be at least 6 characters</div>
    </div>
    </mat-form-field>
    </div>

    <div class="col-sm-6"> 
    <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Confirm password</mat-label>
    <input type="password" matInput placeholder="Enter Your Password again"[formControlName]="'confirmPassword'" [ngClass]="{ 'is-invalid': submitted && formvalidation.confirmPassword.errors }" />
    <div *ngIf="submitted && formvalidation.confirmPassword.errors" class="invalid-feedback">
    <div class='redfont' *ngIf="formvalidation.confirmPassword.errors.required">Confirm Password is required</div>
    <div class='redfont' *ngIf="formvalidation.confirmPassword.errors.mustMatch">Passwords must match</div>
    </div>
    </mat-form-field>
    </div>
  </div>
<div class="row">
<div class="col-lg-4 col-sm-6 col-md-6 col-xs-6 offset-lg-6">
<button mat-raised-button color="primary">Create your account<span class="font-weight-bold"></span>
</button>
</div>  
</div>

</form> 
 

</div> 
</div>
</div>
</div>

 

<!-- Modal -->
<form class="example-form overfl" [formGroup]="loginForm" (ngSubmit)="signIn()">
<div id="myModal" class="modal fade" role="dialog">
<div class="modal-dialog">

   <div class="modal-content">

  <div class="modal-body">
  <h2 class="modal-title">Login </h2>

  <p>Username </p>
  <mat-form-field class="example-full-width" appearance="outline">
  <mat-label>Username</mat-label>
  <input type="text" matInput placeholder="Enter your username"  required>
  </mat-form-field>

  <p>Password </p>    
  <mat-form-field class="example-full-width" appearance="outline">
  <mat-label>Password</mat-label>
  <input type="text" matInput placeholder="Enter your password"  required>
  </mat-form-field>

  </div>
  <div class="modal-footer">
  <button type="button" class="btn btn-danger" data-dismiss="modal">Close
  <span class="fa fa-close"></span></button>
  <button type="button" class="btn btn-primary" >Forgot password <span class="fa fa-key"></span></button>
  <button type="button" class="btn btn-primary" >Proceed <span class="fa fa-forward"></span></button>
  </div>
  </div>

</div>
</div>
</form>